<nav class="nav_bar ">
  <ul class="nav_options">
    <li>
      <a href="{{site.baseurl}}/index.html">HOME</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/experience.html">EXPERIENCE</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/projects.html">PROJECTS</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/connect.html">CONNECT</a>
    </li>
  </ul>

</nav>

<nav id="nav_glass">
  <ul>
    <li> HOME      </li>
    <li> EXPERIENCE</li>
    <li> PROJECTS  </li>
    <li> CONNECT   </li>
  </ul>
</nav>
