<nav class="nav_bar ">
  <ul class="nav_options">
    <li>
      <a href="{{site.baseurl}}/index.html">HOME</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/resume.html">RESUME</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/projects.html">PROJECTS</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/connect.html">CONNECT</a>
    </li>


            <!--

            <li>
              <div class="project"
                      onclick="click_home();"
                      onmouseover="this.style.cursor='pointer'"
                      onmouseout="this.style.cursor='default'" > HOME </div></li>
            <li> <div class="project"
                      onclick="click_resume();"
                      onmouseover="this.style.cursor='pointer'"
                      onmouseout="this.style.cursor='default'" > RESUME </div></li>
            <li> <div class="project"
                      onclick="click_projects();"
                      onmouseover="this.style.cursor='pointer'"
                      onmouseout="this.style.cursor='default'" > PROJECTS </div></li>
            <li> <div class="project"
                      onclick="click_connect();"
                      onmouseover="this.style.cursor='pointer'"
                      onmouseout="this.style.cursor='default'" > CONNECT </div></li>
            -->
    </ul>
    <nav id="nav_glass">
      <ul>
        <li> HOME      </li>
        <li> RESUME    </li>
        <li> PROJECTS  </li>
        <li> CONNECT   </li>
      </ul>
    </nav>
</nav>
