<!DOCTYPE html>
<html>
	<head>
		<title> Shunxu H. </title>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

		<script type="text/javascript" src="{{site.baseurl}}/JavaScript/main.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/JavaScript/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/JavaScript/scripts.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/JavaScript/jquery.interactive_bg.js"></script>
		<script type="text/javascript" src="{{site.baseurl}}/JavaScript/typed.js"></script>


		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
			integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="Text/css" href="{{site.baseurl}}/CSS/main.css">
		<link href="{{site.baseurl}}/CSS/bootstrap.min.css" rel="stylesheet">
		<link href="{{site.baseurl}}/CSS/styles.css" rel="stylesheet">


	</head>

  <body>

		<div class="bg" data-ibg-bg="{{site.baseurl}}/images/me.jpg" >
	    <div class="intro_bg "></div>

	    <div class="intro">
	          <span class="name"></span>
	    </div>
			<div class="flow" data-ibg-bg="{{site.baseurl}}/images/flow_me.png" >
			</div>
		</div>

		{% include nav.html %}

    <script type="text/javascript">
    	$(".bg").interactive_bg({
    		strength: 35,              // Movement Strength when the cursor is moved. The higher, the faster it will reacts to your cursor. The default value is 25.
    		scale: 1.05,               // The scale in which the background will be zoomed when hovering. Change this to 1 to stop scaling. The default value is 1.05.
    		animationSpeed: "100ms",   // The time it takes for the scale to animate. This accepts CSS3 time function such as "100ms", "2.5s", etc. The default value is "100ms".
    		contain: true,             // This option will prevent the scaled object/background from spilling out of its container. Keep this true for interactive background. Set it to false if you want to make an interactive object instead of a background. The default value is true.
    		wrapContent: false         // This option let you choose whether you want everything inside to reacts to your cursor, or just the background. Toggle it to true to have every elements inside reacts the same way. The default value is false
    	});
    </script>

    <script type="text/javascript">
    	$(".flow").interactive_bg({
    		strength: 10,              // Movement Strength when the cursor is moved. The higher, the faster it will reacts to your cursor. The default value is 25.
    		scale: 1.05,               // The scale in which the background will be zoomed when hovering. Change this to 1 to stop scaling. The default value is 1.05.
    		animationSpeed: "100ms",   // The time it takes for the scale to animate. This accepts CSS3 time function such as "100ms", "2.5s", etc. The default value is "100ms".
    		contain: false,             // This option will prevent the scaled object/background from spilling out of its container. Keep this true for interactive background. Set it to false if you want to make an interactive object instead of a background. The default value is true.
    		wrapContent: false         // This option let you choose whether you want everything inside to reacts to your cursor, or just the background. Toggle it to true to have every elements inside reacts the same way. The default value is false
    	});
    </script>

		{{content}}






	</body>




</html>
